<div class=" flex w-full p-4 justify-between items-center">
    <div class=" h-10 w-10 rounded-full flex justify-center items-center shadow-md shadow-rose-500/50  bg-gradient-to-r from-rose-700 via-pink-700 to-red-500 cursor-pointer">
        <p class=" font-bold font-mono text-white">{{'HEADER.LOGO_TEXT' | translate}}</p>
    </div>
  <nav >
    <ul class=" flex items-center gap-5 font-mono font-normal text-white">
        <li>
            <mat-icon>home</mat-icon>
            {{'HEADER.HOME' | translate}}
        </li>
        <li>
            <mat-icon>contact_support</mat-icon>
            {{'HEADER.ABOUT' | translate}}
        </li>
        <li>
            <mat-icon>code_icon</mat-icon>
            {{'HEADER.SKILLS' | translate}}
        </li>
        <li>
            <mat-icon>work</mat-icon>
            {{'HEADER.WORK' | translate}}
        </li>
        <li>
            <mat-icon>chat_bubble</mat-icon>
            {{'HEADER.CONTACT' | translate}}
        </li>
        <li>
            <mat-icon>brightness_3</mat-icon>
        </li>
    </ul>
  </nav>
</div>
